<header class="header-admin">

    <div class="header-left">
        <h2>Mundo <br> Gamer</h2>
    </div>

    <div class="header-right">
        <h2>Nombre</h2>
        <button type="submit">Cerrar sesión</button>
    </div>

</header>