<header class="main-header">

    <img class="fondo-header" src="/img/imagen-header.png" alt="">

    <div class="header">

        <div class="header-top">

            <div class="logo">
                <img src="/img/logo.png" alt="/" width="100%">
            </div>

            <div class="search-bar">
                <input type="search" placeholder="¿Qué estás buscando?">
                <i class="fas fa-search"></i>
            </div>

            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            <a class="hamburguer" href="#"><i class="fas fa-bars"></i></a>
        </div>

        <nav class="header-bottom">
            <ul>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="/login">Mi cuenta</a></li>
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </div>

</header>