<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>


    <body>

        <%- include('../partials/header.ejs') %>
        <audio id="audiobuton" src="/sound/click.wav"   >
        </audio>

            <h1 id="titulo-categoria">Filtros</h1>
            <section class="category-filter">
                <div class="category-filter-product">
                    <h2>Generos:</h2>
                    <div class="category-genders">
                        <div id="Cat-gender1"><img src="/vectores/category/rpg.svg" alt=""></div>
                        <div id="Cat-gender2"><img src="/vectores/category/accion.svg" alt=""></div>
                        <div id="Cat-gender3"><img src="/vectores/category/aventura.svg" alt=""></div>
                        <div id="Cat-gender4"><img src="/vectores/category/rol.svg" alt=""></div>
                        <div id="Cat-gender5"><img src="/vectores/category/deporte.svg" alt=""></div>
                        <div id="Cat-gender6"><img src="/vectores/category/simulacion.svg" alt=""></div>
                        <div id="Cat-gender7"><img src="/vectores/category/estrategia.svg" alt=""></div>
                        <div id="Cat-gender8"><img src="/vectores/category/supervivencia.svg" alt=""></div>
                    </div>
                    <h2>Consolas</h2>
                        <div class="category-consoles">
                            <div id="Cat-console1"><img src="/vectores/category/pc.svg" alt=""></div>
                            <div id="Cat-console2"><img src="/vectores/category/playstation1.svg"  alt=""></div>
                            <div id="Cat-console3"><img src="/vectores/category/playstation2.svg" style="border-radius: 50%;"alt=""></div>
                            <div id="Cat-console4"><img src="/vectores/category/playstation3.svg" alt=""></div>
                            <div id="Cat-console5"><img src="/vectores/category/playstation4.svg" alt=""></div>
                            <div id="Cat-console6"><img src="/vectores/category/playstation5.svg" alt=""></div>
                            <div id="Cat-console7"><img src="/vectores/category/xbox.svg" style="border-radius: 50%;" alt=""></div>
                            <div id="Cat-console8"><img src="/vectores/category/nintendo.svg" alt=""></div>

                        </div>
                    <h2>Idioma</h2>
                    <div class="category-languages">
                        <div id="Cat-language1"><img src="/vectores/category/spain.svg" alt=""></div>
                        <div id="Cat-language2"><img src="/vectores/category/unitedkingdom.svg" alt=""></div>
                        <div id="Cat-language3"><img src="/vectores/category/china.svg" alt=""></div>
                        
                    </div>
                    <h2>Traducción</h2>
                    <div class="category-subtitles">
                        <div id="Cat-subtitle1"><img src="/vectores/category/spain.svg" alt=""></div>
                        <div id="Cat-subtitle2"><img src="/vectores/category/france.svg" alt=""></div>
                        <div id="Cat-subtitle3"><img src="/vectores/category/germany.svg" alt=""></div>
                    
                    </div>
                    <h2>General</h2>
                    <div>Precio min:<input type="number" name="" id="priceMin"></div>
                    <div>Precio Max:<input type="number" name="" id="priceMax"></div>

                </div>
                <div class="category-filter-general">

                </div>



            </section>

                <section class="section-containers">
                
                </section>
           
            <%- include('../partials/footer.ejs') %>

                <%- include('../partials/script.ejs') %>
           <script src="/js/category.js"></script>
    </body>

</html>