<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

            <h1 id="titulo-categoria">Categorias</h1>
            <section class="category-container-all">
                <article class="category-container">

                    <div><img src="/vectores/Oferta.png" alt=""></div>
                    <h3>Ofertas</h3>

                </article>
                <article class="category-container">

                    <div><img src="/vectores/carbon_game-console.png" alt=""></div>
                    <h3>Consolas</h3>

                </article>
                <article class="category-container">

                    <div><img src="/vectores/carbon_cut-out.png" alt=""></div>
                    <h3>Promos</h3>

                </article>
                <article class="category-container">

                    <div><img src="/vectores/ei_like.png" alt=""></div>
                    <h3>Me gustan</h3>

                </article>
                <article class="category-container">

                    <div><img src="/vectores/mdi_tshirt-v-outline.png" alt=""></div>
                    <h3>T-shirt</h3>

                </article>
                <article class="category-container">

                    <div><img src="/vectores/grommet-icons_diamond.png" alt=""></div>
                    <h3>Accesorios</h3>

                </article>




            </section>
            <section class="choise">
                <h3>Has elegido:</h3>
                <div class=choise-selected>
                    <img src="/vectores/carbon_game-console.png" alt="">
                </div>
                <h3>Consolas</h3>
                <nav>
                    <h3>Filtros</h3>
                    <div><input type="checkbox" name="Consolas" id="nintendo" value="Nintendo">
                        <label for="nintendo">Nintendo</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Consolas" id="xbox" value="Xbox">
                        <label for="xbox">Xbox</label>
                    </div>
                    <div><input type="checkbox" name="Consolas" id="sony" value="Sony"> <label for="sony">Sony</label>
                    </div>
                    <div><input type="checkbox" name="Consolas" id="20g" value="20G"> <label for="20g">20G</label></div>
                    <div><input type="checkbox" name="Consolas" id="50g" value="50G"> <label for="50g">50G</label></div>
                    <div>
                        <input type="checkbox" name="Consolas" id="blanco" value="Blanco"> <label
                            for="blanco">Blanco</label>
                    </div>
                    <div> <input type="checkbox" name="Consolas" id="negro" value="Negro"><label
                            for="negro">Negro</label></div>





                </nav>







            </section>
            <div class="titulo-decompra">
                <p>Consolas</p>
            </div>


            <section class="articulos">
                <article class="articulo-container">
                    <div class="articulo-container-img"></div>

                    <div class="articulo-container-description">
                        <h3> Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio">18.000$</h4>
                                <h4>17%off</h4>
                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                    </div>


                </article>
                <article class="articulo-container">
                    <div class="articulo-container-img"></div>

                    <div class="articulo-container-description">
                        <h3> Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio">18.000$</h4>
                                <h4>17%off</h4>
                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                    </div>


                </article>
                <article class="articulo-container">
                    <div class="articulo-container-img"></div>

                    <div class="articulo-container-description">
                        <h3> Nombre del Producto</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                        <div>
                            <div class="articulo-container-description-valor">
                                <h4 id="precio">18.000$</h4>
                                <h4>17%off</h4>
                            </div>

                            <div class="articulo-container-description-button">

                                <input type="button" value="CARRITO">
                            </div>


                        </div>
                </article>



            </section>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>