<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="/css/categoria.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
</head>
<body>
    <h1 id="titulo-categoria">Categorias</h1>
    <section class="category-container-all">
        <article class="category-container">

            <div><img src="/vectores/Oferta.png" alt=""></div>
            <h3>Ofertas</h3>
            
        </article>
        <article class="category-container">

            <div><img src="/vectores/carbon_game-console.png" alt=""></div>
            <h3>Consolas</h3>
            
        </article>
        <article class="category-container">

            <div><img src="/vectores/carbon_cut-out.png" alt=""></div>
            <h3>Promos</h3>
            
        </article>
        <article class="category-container">

            <div><img src="/vectores/ei_like.png" alt=""></div>
            <h3>Me gustan</h3>
            
        </article>
        <article class="category-container">

            <div><img src="/vectores/mdi_tshirt-v-outline.png" alt=""></div>
            <h3>T-shirt</h3>
            
        </article>
        <article class="category-container">

            <div><img src="/vectores/grommet-icons_diamond.png" alt=""></div>
            <h3>Accesorios</h3>
            
        </article>

        
        

    </section>
    <section class="choise">

        <div class=choise-selected>
            <img src="/vectores/carbon_game-console.png" alt="">
        </div>
        <h3>Consolas</h3>
        <nav>
            <div><input type="checkbox" name="Consolas" id="nintendo" value="Nintendo">
            <label for="nintendo">Nintendo</label></div>
            <div>
            <input type="checkbox" name="Consolas" id="xbox" value="Xbox"> 
            <label for="xbox">Xbox</label></div>
            <div><input type="checkbox" name="Consolas" id="sony" value="Sony">         <label for="sony">Sony</label></div>
            <div><input type="checkbox" name="Consolas" id="20g" value="20G">     <label for="20g">20G</label></div>
            <div><input type="checkbox" name="Consolas" id="50g"  value = "50G">   <label for="50g">50G</label></div>
            <div>
            <input type="checkbox" name="Consolas" id="blanco" value="Blanco">  <label for="blanco">Blanco</label></div>
            <div> <input type="checkbox" name="Consolas" id="negro" value="Negro"><label for="negro">Negro</label></div>
           
   
            
       
            
        </nav>
        






    </section>


</body>
</html>