<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    
    <section>

        <article class="carrusel-container">
            <div id="button-left"></div>
            <div>
                <img src="https://phantom-elmundo.unidadeditorial.es/6736bc692f59a08ed2f74709c7254b59/resize/746/f/jpg/assets/multimedia/imagenes/2020/11/30/16066910612983.jpg"
                    alt="" class="imagen-oferta">
            </div>
            <div id="button-right"></div>
        </article>
        <div class="guia-carrusel">
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
            <div class="guia-carrusel-div"></div>
        </div>
    </section>
    <div>


    </div>
    <section class="category-home-container">
        <article class="category-home">
            <div><img src="/vectores/GameVector.png" alt="" id="imagen-vector"></div>
            <p>Games</p>
        </article>
        <article class="category-home">
            <div><img src="/vectores/BookVector.png" alt=""></div>
            <p>Libros</p>
        </article>
        <article class="category-home">
            <div><img src="/vectores/TshirtVector.png" alt=""></div>
            <p>T-shirt</p>
        </article>
        <article class="category-home">
            <div><img src="/vectores/PlusVector.png" alt=""></div>
            <p>Mas</p>
        </article>

    </section>

    <div class="titulo-decompra">
        <p>Games</p>
    </div>


    <section class="articulos">
        <article class="articulo-container">
            <div class="articulo-container-img"></div>

            <div class="articulo-container-description">
                <h3> Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                <div>
                    <div class="articulo-container-description-valor">
                        <h4 id="precio">18.000$</h4>
                        <h4>17%off</h4>
                    </div>

                    <div class="articulo-container-description-button">

                        <input type="button" value="CARRITO">
                    </div>


                </div>
            </div>


        </article>
        <article class="articulo-container">
            <div class="articulo-container-img"></div>

            <div class="articulo-container-description">
                <h3> Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                <div>
                    <div class="articulo-container-description-valor">
                        <h4 id="precio">18.000$</h4>
                        <h4>17%off</h4>
                    </div>

                    <div class="articulo-container-description-button">

                        <input type="button" value="CARRITO">
                    </div>


                </div>
            </div>


        </article>
        <article class="articulo-container">
            <div class="articulo-container-img"></div>

            <div class="articulo-container-description">
                <h3> Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, non?</p>
                <div>
                    <div class="articulo-container-description-valor">
                        <h4 id="precio">18.000$</h4>
                        <h4>17%off</h4>
                    </div>

                    <div class="articulo-container-description-button">

                        <input type="button" value="CARRITO">
                    </div>


                </div>
        </article>



    </section>
    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>

    </footer>
</body>

</html>