<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--link de fontawesome(iconos)-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link de font-family--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link de styles contiene los url-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!--el resto del body aqui-->

    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>

    </footer>

</body>

</html>