<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--link de fontawesome(iconos)-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link de font-family(tipo de letra)--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link de styles.css contiene todos los url-->
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="main-header">

        <img class="fondo-header" src="/img/header.png" alt="">

        <div class="header">

            <div class="header-top">

                <img class="logo" src="img/logo.png" alt="">

                <input type="text" placeholder="¿Qué estás buscando?">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <nav class="header-bottom">
                <ul>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Crea tu cuenta</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
        </div>

    </header>


    <main class="main-login">



        <form action="" method="GET">

            <div class="formulario">

                <h2 class="titulo">Log-in</h2>

                <div class="input-datos">
                    <label for="email">E-mail</label><br>
                    <input class="input-estilo" type="email" name="email" id="email">
                    <!--como propiedad de input podemos agregar un required (por defecto saldra un aviso) o mejor podemos hacer un span-->
                    <span class="error-msj">Debes ingresar tu e-mail</span>
                </div>

                <div class="input-datos">
                    <label for="pass">Contraseña</label><br>
                    <input class="input-estilo" type="password" name="pass" id="pass">
                    <span class="error-msj">Debes ingresar tu contraseña</span>
                </div>

                <div class="check">
                    <input type="checkbox" checked><label for="">Recordarme</label>
                </div>

                <div class="button">
                    <span class="error-msj">Credenciales inválidas</span>
                    <button type="submit" onclick="alert('Estamos trabajando en ello')">INICIAR SESIÓN</button>
                </div>

                <span><a href="">¿Olvidaste tu contraseña?</a></span>

                <span><a href="/register">¿No tenés cuenta? Registrarme</a></span>
            </div>

        </form>
    </main>

    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>
    </footer>

</body>

</html>