<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!--link de fontawesome(iconos)-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link de font-family--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--probe linkear el header aca-->
    <link rel="stylesheet" href="./css/header.css">

</head>

<body>
    <header class="main-header">
            <!--link de la imagen (header)-->
            <img src="/img/header.png" alt="" width="100%"> <!--width="100%" sino el ancho trabajarlo desde el css-->
            <div>
                <img src="logo" alt="">
                <nav>
                    
                </nav>
                <i>lupita</i>
            </div>
        



    </header>

    <main class="login">
        <div class="login-datos">
            <!--etiqueta form y imput y label-->

        </div>
    </main>

    <footer class="footer">
        <nav>
            <ul><a href="#">Contáctanos</a></ul>
            <ul><a href="#">Horarios de atención</a></ul>
            <ul><a href="#">Nuestras sucursales</a></ul>
            <ul><a href="#">Ayuda</a></ul>
            <ul><a href="#">Términos y condiciones</a></ul>
        </nav>
        <div class="iconos">
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-facebook-square"></i>
        </div>
        <p>Mundo Gamer - Todos los derechos reservados</p>
    </footer>
</body>

</html>