<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!--probe linkear el footer aca-->
    <link rel="stylesheet" href="./css/header.css">

</head>

<body>
    <header class="main-header">
        <div class="header">
            <!--link de la imagen (header)-->
            <img src="/img/header.png" alt="" width="100%">
           <nav></nav>
        </div>



    </header>

    <main class="login">
        <div class="login-datos">
            <!--etiqueta form y imput y label-->

        </div>
    </main>
</body>

</html>