<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link de fontawesome(iconos)-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link de font-family--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link de styles contiene los url-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Produc Detail</title>
</head>

<body class="bodyconteiner">

    <header class="main-header">

        <img class="fondo-header" src="/img/header.png" alt="">

        <div class="header">

            <div class="header-top">

                <img class="logo" src="img/logo.png" alt="">

                <input type="text" placeholder=" ¿Qué estás buscando?">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <nav class="header-bottom">
                <ul>
                    <li><a href="#">CATEGORIAS</a></li>
                    <li><a href="#">OFERTAS</a></li>
                    <li><a href="#">MI CUENTA</a></li>
                    <li><a href="#">CREA TU CUENTA</a></li>
                    <li><a href="#">AYUDA</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="conteinerProdutDetail">
        <div class="caja1">
            <div class="imagenPrincipal">
                <img src="/img/taza de mario.jpg">
                <div class="botones">
                    <button class="boton1">agregar al carrito</button>
                    <button class="boton2">comprar</button>
                </div>
            </div>
            <div class="imagenesSecundarias">
                <div class="imagen-box"><img src="/img/imagen1.jpg"></div>
                <div class="imagen-box"><img src="/img/imagen2.jpg"></div>
                <div class="imagen-box"><img src="/img/imagen3.jpg"></div>
            </div>
        </div>
        <div class="caja2">
            <h1 class="tituloTAZA">taza de super mario</h1><br>
            <h2 class="detalle__general">$1200</h2><br>
            <p class="detalle__general">en 12 cuotas de $199</p><br>
            <h3 class="detalle__general">descriccion del producto</h3><br>
            <p class="detalle__general">Taza importadas HOTARUCOLECTIONS.
                Contamos con un amplio stock de tazas con los mas diversos diseños, películas, cómic, anime, música,
                series, personajes, etc., podes encontrar nuestra variada colección escribiendo "TAZAS HOTARUCOLECTIONS"
                en la barra de búsqueda de nuestra página.
                También te recordamos que realizamos tazas personalizadas sin ningún costo adicional</p><br>
        </div>
    </div>

    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>

    </footer>
</body>

</html>