<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--link de fontawesome(iconos)-->
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!--link de font-family--->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <!--link de styles contiene los url-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>produc detail</title>
</head>
<body>
    
    
    <header class="main-header">

        <img class="fondo-header" src="/img/header.png" alt="">

        <div class="header">

            <div class="header-top">

                <img class="logo" src="img/logo.png" alt="">

                <input type="text" placeholder="  ¿Qué estás buscando?">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <nav class="header-bottom">
                <ul>
                    <li><a href="#">CATEGORIAS</a></li>
                    <li><a href="#">OFERTAS</a></li>
                    <li><a href="#">MI CUENTA</a></li>
                    <li><a href="#">CREA TU CUENTA</a></li>
                    <li><a href="#">AYUDA</a></li>
                </ul>
            </nav>
        </div>

    </header>
    


    <section class="producto-container">
        <div ><h3 id="name-producto">Nombre del producto</h3></div>
        <div class="producto-imagenes">
            <div class="img1"> </div>
            <div class="img2"></div>
            <div class="img3"></div>
            <div class="img3"></div>

        </div>

        <div class="producto-detalles">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit, autem totam vitae soluta fuga dolores inventore placeat? Id temporibus aspernatur impedit quos sed eligendi.</p>



        </div>

        <div class="producto-formasDepago">

        </div>

        <div class="producto-botones">
            <div><input type="button" value="Carrito"></div>
            <div><input type="button" value="Comprar"></div>
            <h3 id="oferta">25% off </h3>
            <h3 id="precio">18.000$ </h3>
            

        </div>


    </section>




    



 <footer class="main-footer">

    <nav class="enlaces-footer">
        <ul>
            <li><a href="#">Nuestras sucursales</a></li>
            <li><a href="#">Contáctanos</a></li>
            <li><a href="#">Horarios de atención</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Términos y condiciones</a></li>
        </ul>
    </nav>

    <div class="logos-contacto">
        <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
    </div>

    <div class="derechos">
        <i class="far fa-copyright"></i>
        <p>Mundo Gamer - Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>