<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Cart</title>
    <!--link de fontawesome(iconos)-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link de font-family--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link de styles contiene los url-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    
</head>

<body>

    <header class="main-header">

        <img class="fondo-header" src="/img/header.png" alt="">

        <div class="header">

            <div class="header-top">

                <img class="logo" src="img/logo.png" alt="">

                <input type="text" placeholder=" ¿Qué estás buscando?">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <nav class="header-bottom">
                <ul>
                    <li><a href="#">CATEGORIAS</a></li>
                    <li><a href="#">OFERTAS</a></li>
                    <li><a href="#">MI CUENTA</a></li>
                    <li><a href="#">CREA TU CUENTA</a></li>
                    <li><a href="#">AYUDA</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main class="cart">
        <div class="title-cart">
            <h2>Carrito</h2>
            <h4>4 elementos en tu carrito</h4>
        </div>
        <hr>

        <div class="product">

            <div class="product-1">
                <img src="/img/auris.jpg" alt="">

                <div class="product-container">
                    <p>Auriculares inalámbricos Sony <br>
                        $3.699
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>
            <div class="product-2">
                <img src="/img/consola.png" alt="">

                <div class="product-container">
                    <p>Joystick inalámbrico Sony PlayStation <br>
                        $13.300
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>
            <div class="product-3">
                <img src="/img/auto-mario.png" alt="">

                <div class="product-container">
                    <p>Muñeco Super Mario Bros Juguete<br>
                        $2.900
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>
            <div class="product-4">
                <img src="/img/mouse.png" alt="">

                <div class="product-container">
                    <p>Mouse inalámbrico recargable Tedge <br>
                        $399
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>

        </div>

        <div class="total-and-buttom">
            <p>TOTAL $20.298</p><br>
            <button type="submit">Realizar pedido</button> <br>
            <button type="submit">Seguir comprando</button>
        </div>

    </main>

    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>

    </footer>

</body>

</html>