<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!--link de fontawesome(iconos)-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link de font-family(tipo de letra)--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link del styles-->
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="main-header">

        <img class="fondo-header" src="/img/header.png" alt="">

        <div class="header">

            <div class="header-top">

                <img class="logo" src="img/logo.png" alt="">

                <input type="text" placeholder=" ¿Qué estás buscando?">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <nav class="header-bottom">
                <ul>
                    <li><a href="#">CATEGORIAS</a></li>
                    <li><a href="#">OFERTAS</a></li>
                    <li><a href="#">MI CUENTA</a></li>
                    <li><a href="#">CREA TU CUENTA</a></li>
                    <li><a href="#">AYUDA</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main class="form-main">

        <form action="" method="GET">

            <div class="formulario">

                <h2 class="titulo">Registro</h2>

                <div class="input-datos">
                    <label for="email">E-mail</label><br>
                    <input class="input-estilo" type="email" name="email" id="email">
                    <!--Tambien dentro del input podemos agregar un required (saldra un aviso standar) pero mejor hacer un span-->
                    <span class="error-msj">Ingresá tu e-mail</span>
                </div>

                <div class="input-datos">
                    <label for="pass">Contraseña</label><br>
                    <input class="input-estilo" type="password" name="pass" id="pass">
                    <span class="error-msj">Ingresá tu contraseña</span>
                </div>

                <div class="input-datos">
                    <label for="pass">Contraseña</label><br>
                    <input class="input-estilo" type="password" name="pass" id="pass">
                    <span class="error-msj">Ingresá nuevamente tu contraseña</span>
                </div>

                <div class="check">
                    <input type="checkbox" checked><label for="">Recordarme</label>
                </div>

                <div class="check-1">
                    <!--cambie a check1 por q hay 2 elementos cn la misma clase-->
                    <label for="terms">Acepto los <a href="">términos y condiciones</a></label>
                    <input type="checkbox" name="terms" id="terms" checked>
                    <span class="error-msj">Debes aceptar los términos y condiciones</span>
                </div><br>

                <div class="button">
                    <span class="error-msj">Hubo errores en tu envio</span>
                    <button type="submit" onclick="alert('Estamos trabajando en ello')">REGISTRARME</button>
                </div>

                <span><a href="/login">Ya tengo mi cuenta</a></span>
            </div>

        </form>
    </main>

    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>
    </footer>

</body>

</html>