<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <footer class="main-footer">

        <nav class="enlaces-footer">
            <ul>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Horarios de atención</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </nav>

        <div class="logos-contacto">
            <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
        </div>

        <div class="derechos">
            <i class="far fa-copyright"></i>
            <p>Mundo Gamer - Todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>