<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/header.ejs') %>

    <main class="main-search">
        <div>
            
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/script.ejs') %> 

</body>
</html>