.carousel {
  background: rgb(245,245,245);
  background: -moz-radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(170,246,238,1) 16%, rgba(240,245,245,1) 48%, rgba(240,240,240,0.6278712168461135) 64%, rgba(12,183,237,0.6110644941570378) 100%);
  background: -webkit-radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(170,246,238,1) 16%, rgba(240,245,245,1) 48%, rgba(240,240,240,0.6278712168461135) 64%, rgba(12,183,237,0.6110644941570378) 100%);
  background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(170,246,238,1) 16%, rgba(240,245,245,1) 48%, rgba(240,240,240,0.6278712168461135) 64%, rgba(12,183,237,0.6110644941570378) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#0cb7ed",GradientType=1); 
    
  }
  
  .carousel-cell {
    width: 66%;
    height: 300px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    
  }
  .imagen-oferta{
    width: 100vw;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
  
  }

  
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  @media (min-width: 426px){
    
    .imagen-oferta{
        padding: 0px 20vw;
        height: 300px;
        object-fit: cover;
    }
  }
  @media (min-width: 1000px){
    
    .imagen-oferta{
        padding: 0px 20vw;
        height: 350px;
        object-fit: cover;
    }
  }