.category-
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: Quicksand ;
 }

 #titulo-categoria{
     display: flex;
     justify-content: center;
     margin-top: 10px;
 }

 body{
    background-image:url('../img/Fondo.png') ;
    background-repeat: repeat; 
}

.category-filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    padding: 10px 5%;
    background-color: brown;
}
.category-filter-product{
    background-color: azure;
    height: 40%;
    width: 100%;
}

.category-genders{
    display: flex;
    justify-content: space-around;
}

.category-genders div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}

.category-genders div img{
    height: 100%;
    width: 100%;
}

.category-consoles{
    display: flex;
    justify-content: space-around;
}

.category-consoles div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}

.category-consoles div img{
    height: 100%;
    width: 100%;
}

.category-languages, .category-subtitles{
    display: flex;
    justify-content: space-around;
}

.category-language div, .category-subtitle div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}

.category-language div img, .category-subtitle div img{
    height: 100%;
    width: 100%;
}