.category-
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: Quicksand ;
 }

 #titulo-categoria{
     display: flex;
     justify-content: center;
     margin-top: 10px;
 }

 body{
    background-image:url('../img/Fondo.png') ;
    background-repeat: repeat; 
}

.category-filter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    padding: 10px 5%;
    
}
.category-filter-product{
    background-color: rgba(109, 101, 101, 0.25);  
 backdrop-filter: blur(5px);
    height: 40%;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}

.category-genders{
    display: flex;
    justify-content: space-around;
}

.category-genders div{
    height: 50px;
    width: 50px;
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
    
}
.category-genders div:hover{
    height: 50px;
    width: 50px;
    transform: scale(0.90);
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
}
.pulsado{
    height: 50px;
    width: 50px;
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
    border-top: 1px solid green;
    border-left: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 5px solid green;
    -webkit-box-shadow: 1px 1px 18px 7px rgba(83,214,101,1);
    -moz-box-shadow: 1px 1px 18px 7px rgba(83,214,101,1);
    box-shadow: 1px 1px 18px 7px rgba(83,214,101,1);
}

.category-genders div img{
    height: 100%;
    width: 100%;
}

.category-consoles{
    display: flex;
    justify-content: space-around;
}

.category-consoles div{
    height: 50px;
    width: 50px;
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
}
.category-consoles div:hover{
    height: 50px;
    width: 50px;
    transform: scale(0.90);
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
}

.category-consoles div img{
    height: 100%;
    width: 100%;
}

.category-languages, .category-subtitles{
    display: flex;
    justify-content: space-around;
}

.category-languages div, .category-subtitles div{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
}
.category-languages div:hover{
    height: 50px;
    width: 50px;
    transform: scale(0.90);
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
}
.category-subtitles div:hover{
    height: 50px;
    width: 50px;
    transform: scale(0.90);
    background-color: rgb(221, 221, 236);
    border-radius: 25px;
}

.category-languages div img, .category-subtitles div img{
    height: 90%;
    width: 90%;
}

