/* Aqui están los estilos para productCreate.ejs y updateProduct.ejs */

.main-productCreate {
    /* Con el padding se completa todo el background-color */
    padding: 5px;
    flex-direction: column;
    /* text-align: center; */
    width: 100%;
    
}


.main-productCreate .title-productCreate {
    font-size: 22px;
    margin: 40px 0; 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /* width: auto; *//* -------------------------- */
}

.main-productCreate .label-subtitle {
    margin: 10px 0 8px 0;
    font-size: 18px;
    text-align: center; 
}  

.main-productCreate form{
    width: 85%; /* tenia 90% */
    max-width: 1100px;
    padding: 8px 18px 15px 18px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px; 
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 25px;
    background: rgb(182,221,237);
    background: -moz-linear-gradient(127deg, rgba(182,221,237,1) 0%, rgba(170,246,238,1) 16%, rgba(240,245,245,1) 48%, rgba(103,217,238,1) 64%, rgba(12,28,237,1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(182,221,237,1) 0%, rgba(170,246,238,1) 16%, rgba(240,245,245,1) 48%, rgba(103,217,238,1) 64%, rgba(12,28,237,1) 100%);
    background: linear-gradient(127deg, rgba(182,221,237,1) 0%, rgba(170,246,238,1) 16%, rgba(240,245,245,1) 48%, rgba(103,217,238,1) 64%, rgba(12,28,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b6dded",endColorstr="#0c1ced",GradientType=1); 
    border: 1px solid black;
}

.main-productCreate .input-productCreate {
    padding: 0 6px;
    height: 25px;
}

.main-productCreate input:focus{
    /*sacamos el borde que hace al hacer click*/
    outline: none;
}

.main-productCreate .errorCreate {
    border-radius: 5px;
    background-color: #F6A1F0 ;
    color: rgb(228, 10, 10);
    font-size: 12px;
    font-weight: bolder;
    margin: 1px;
    margin-bottom: 10px;
    
}




.main-productCreate .div-box input{
    margin: 0 4px;
}

.main-productCreate .label-subtitle i {
    color: rgb(251, 251, 59);
}

.main-productCreate textarea:focus {
    outline: none;
}

.main-productCreate .file-productCreate {
    margin-top: 20px;
}

.main-productCreate .input-file-create {
    display: none; 
}

.main-productCreate .label-file-create {
    cursor: pointer;
    border: solid 2px var(--ligth_violet);
    border-radius: 4px;
    padding: 4px;
    background-color: #F6A1F0;
    
}

.main-productCreate .button-productCreate {
    display: flex; 
    margin: 12px 0px; 
}

.main-productCreate .button-productCreate button{
    font-weight: bold; /*grosor de letra*/
    font-size: 23px;
    border: none;
    border-radius: 25px;
 
    background: rgb(63,94,251);
    background: -moz-linear-gradient(146deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-linear-gradient(146deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: linear-gradient(146deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1); 
    color: rgb(8, 3, 3);
    cursor: pointer; 
    width: 200px; /* 180px */
    height: 40px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    transition: 1.10s;
}

.button-productCreate:hover button{
    transform: scale(1.1);
    background: rgb(160,213,217);
    background: -moz-linear-gradient(127deg, rgba(160,213,217,1) 0%, rgba(170,246,171,1) 16%, rgba(240,245,245,1) 48%, rgba(108,238,103,1) 64%, rgba(62,237,12,1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(160,213,217,1) 0%, rgba(170,246,171,1) 16%, rgba(240,245,245,1) 48%, rgba(108,238,103,1) 64%, rgba(62,237,12,1) 100%);
    background: linear-gradient(127deg, rgba(160,213,217,1) 0%, rgba(170,246,171,1) 16%, rgba(240,245,245,1) 48%, rgba(108,238,103,1) 64%, rgba(62,237,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a0d5d9",endColorstr="#3eed0c",GradientType=1); 
}

.photoProductCreate {
    display: flex;
    justify-content: center;
    
}
.photoProductCreate img{
    border-radius: 15px;
}

/* Media-query - Tablet */

@media (min-width: 768px) {

    .main-productCreate form {
       /*  max-width: 500px; */
       width: 65%;
    }
} 


/* Media-query - Desktop */
@media (min-width: 1200px) {

    .main-productCreate form {
        min-width: 55%; 
    }

    .main-productCreate .title-productCreate {
        font-size: 22px;
    }

}
.input-Error{
    border: 1.5px solid red;
   background-color: #F6A1F0;
   
}

.input-Valid{
    border: 1.5px solid rgb(43, 3, 223);
    background-color: rgb(236, 229, 217);
}

