.form-main .formulario {
    font-family: var(--font-quicksand);
    border-radius: 14px;
    background-color: #ebebeb;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%; /*ancho del contenedor*/
    height: 600px;   /*altura del cuadro gris originalmente 470*/
}

.form-main .titulo {
    font-size: 25px;
    text-align: center;
}

.formulario .input-datos { /* --------box-container-------- */
    margin: 8px 0;
    width: 90%;
}

.input-datos input:focus {
    outline: none;
} 

.formulario .input-datos .input-estilo {
    border-radius: 8px;
    width: 100%;
    height: 25px; 
    border: none;
    padding: 0 6px; 
    font-size: 16px; 
}


/* check, spam and error */
.formulario .check {
    font-size: 12px;
    margin: 2px 0 15px 0;
}

.formulario .check-1 label {
    /*clase check-1: solo en register*/
    font-size: 12px;
}

.formulario .check-1 a {
    color: blue;
    text-decoration: none;
}

.formulario span a {
    color: blue;
    font-size: 12px;
    text-decoration: none;
}

.formulario .error-msj {
    font-size: 12px;
    color: rgb(255, 51, 51);
    /* display: none;   */
}


/* validations front end (icono de color rojo o verde, dentro del input) */

input.error { /* esta clase la creamos solo aca, no en el html */
    border: 1px solid tomato;
    box-shadow: 3px 3px 10px tomato; /* de px tenia 5 */
}

input.ok {
    border: 1px solid green;
    box-shadow: 3px 3px 10px green;
}

.errors {
    color: tomato;
}

/* end validations front end */


/* input file */
.formulario .file-avatar {
    margin: 10px 0;
}

.formulario .file-avatar .input-avatar {
    display: none; 
}

.formulario .file-avatar .label-avatar {
    cursor: pointer;
    border: solid 2px var(--ligth_violet);
    border-radius: 4px;
    padding: 4px;
}
/* end input file */

.formulario .button {
    margin-bottom: 10px;
}

.formulario .button button {
    font-weight: bold; /*grosor de letra*/
    font-size: 23px;
    border: none;
    border-radius: 25px;
    background:  linear-gradient(200deg, rgba(255,255,255,1) 0%, var(--ligth_violet) 60%);
    color: rgb(44, 44, 44);
    cursor: pointer; /*manito*/
    width: 180px;
    height: 40px;
}


/*Media queries-tablet*/

@media (min-width: 768px) {

    .form-main .formulario {
        max-width: 600px; 
    }

    .formulario .input-datos {
        width: 75%;
    }
}


/*Media queries-desktop*/

@media (min-width: 1200px) {

    .button button:hover {
        color: rgb(78, 78, 78);
        background:  linear-gradient(100deg, rgba(255,255,255,1) 0%, var(--ligth_violet) 60%);
        transition: all 0.4ms ease-in-out;
        /*buttom tendra transition (segundos) para cambiar el color que le asignamos*/
    }
}