/*Header*/

.main-header {
     display: flex;
     width: 100%;
}

/* => donde esta la foto tiene que tener una position relative
y el resto de cosas que queremos que vayan sobre la foto tiene que tener position absolute*/

.main-header .fondo-header {
     object-fit: cover;
     position: relative; 
     width: 100%; 
     height: 140px; 
}

.main-header .header {
     position: absolute;
     width: 100%; 
     flex-direction: row; 
     /*  la amburguesa se pega mucho pero no aplica margin */
}

.header .header-top {
     display: flex; 
     align-items: center; 
     height: 85px;
}

.header .logo {
     width: 100px;
     height: 100px;
     margin-left: 3px;
}

.header .header-top input, a {
     margin: 0 3px; 
}

.header .header-top a {
     color: white;
}

.header .header-top input {
    /*barra-nav: si la resolucion de mobile es de 320 px*/
     width: 100%;
     border: none;
     border-radius: 1rem; 
     font-family: var(--font-quicksand);
}

.header .header-top .input, a, i {
     display: inline-block;
}

.header nav.header-bottom {
     display: none;
}


/*Media queries-mobile*/

@media (min-width: 375px) {

    .header .header-top input {
         font-size: 18px; 
    }

    .header .header-top a {
         font-size: 20px;
    }
}

@media (min-width: 425px) {

    .header .header-top {
         justify-content: space-evenly;
    }

    .header .header-top input {
        max-width: 50%;
    } 
}


/*Media queries-tablet*/

@media (min-width: 768px) {
    /*header-top*/

    .header .header-top .logo {
         width: 110px; 
         height: 110px;
         margin-top: 5px;
    }

    .header .header-top input {
         height: 28px;
    }

    .header .header-top a {
         font-size: 28px;
    }

    .header .header-top a.hamburguer {
         display: none;
    }

    /*header-bottom*/ 

    .header nav.header-bottom {
         display: block; 
         height: 35px; 
         align-items: center;
         margin-top: 18px; 
    }

    .main-header nav.header-bottom ul {
         display: flex;
         justify-content: space-evenly; 
         width: 100%; 
         
    }

    .header-bottom ul li { 
         display: inline-block; 
         background-color: white; 
         border-radius: 1rem;
         padding: 1px;
    }

    .header-bottom ul li a {
         color: black;
         text-decoration: none;
         font-family: var(--font-quicksand);
         font-weight: 800; 
         font-size: 18px;
    }
}


/*Media queries-desktop*/

@media (min-width: 1200px) {
    /*header-top*/
    .header .header-top {
         justify-content: space-around; 
         margin-top: 10px;
    } 

    .header .header-top a {
         font-size: 35px; 
    }

    /*header-bottom*/
     .header nav.header-bottom {
         margin-top: 10px; 
     }
}