/* Header para TODAS las vistas del admin */

.header-admin {
    position: relative;
    display: flex;
    width: 100%;
}

.header-admin .fondo-header { /* Foto del fondo */
    object-fit: cover;
    width: 100%;
    height: 90px;
}

.header-admin .divs-containers {
    position: absolute;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}

.header-admin .header-left {
    padding: 15px;
}

.header-admin .header-left h2 {
   font-size: 20px; 
}

.header-admin .header-right {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.header-right h2, button {
    font-size: 20px; 
}

.header-right button { /* Dar mas estilo al boton */
    cursor: pointer;
}