/*Header*/

.main-header {
    display: flex;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
}

/* => donde esta la foto tiene que tener una position relative
y el resto de cosas que queremos que vayan sobre la foto tiene que tener position absolute*/

.main-header .fondo-header {
    object-fit: cover;
    position: relative; 
    width: 100%;
    height: 100%;
}

.main-header .header {
    padding: 10px;
    flex-direction:row;/**/
    align-items: center;
    position: absolute;
    width: 100%;
    align-content: space-between;
}

.main-header .header-top {
    justify-content: center;
    align-items: center;
    height: 150px;/**/
}

.header-bottom a {
    align-items: flex-end;/**/
    /*display: none;*/
}

.main-header .header,
.header-bottom {
    display: flex;
    flex-direction: row;
}

.header .logo {
    width: 120px;
    height: 120px;
}

.header .header-top .input, a, i {
    display: inline-block;
    justify-content: space-between;
}

.header-bottom ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
}

.header-bottom ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 0 2px;
    /*bajar estas "a" y agregar display: none*/
}

