/* headerAdmin -> para todas las vistas de la carpeta admin */

.header-admin {
    position: relative;
    display: flex;
    width: 100%;
}

.header-admin .fondo-header-admin { /* Foto del fondo */
    object-fit: cover;
    width: 100%;
    height: 90px;
}

.header-admin .divs-containers {
    position: absolute;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}

.header-admin .divs-containers .header-left {
    padding: 15px;
}

.header-admin .divs-containers .headerAdminTitle {
   font-size: 18px; 
}

.header-admin .divs-containers .header-right {
    display: flex;
    flex-direction: row;
    width: 110px;
    align-items: center;
    padding: 15px;
}

.header-admin .divs-containers .header-right i.fa-bars {
    margin-left: 10px;
    cursor: pointer;
    font-size: 17px;
} 

/* Menú de navegación-admin */
.adminNavigationBar {
    display: flex;
    width: 100%;
    height: 65px; 
    position: absolute; 
    top: 60px;  
    display: none;   /* display none?? */
}

.adminNavigationBar .menu-admin {
    background-color: #ebebeb;
    text-align: center;
    width: 100%;
   
}

.adminNavigationBar .menu-admin a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}
/* Fin de menú navegación-admin */


/* Media-query - tablet */

@media (min-width: 768px) {
    
    .header-admin .divs-containers .headerAdminTitle {
        font-size: 20px; 
    }

}