/* * {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}  */

.listOfAllProducts .titleListProduct {
    margin: auto;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

main.listOfAllProducts {
    margin: 25px auto; 
    width: 90%;
    max-width: 1000px;
}

.listOfAllProducts .listTable table {
    border-collapse: collapse; /* las lineas de cada celda */
    width: 100%;
    margin: 0 auto;
}

.listOfAllProducts .listTable table tr.header {
    background-color: rgba(28, 13, 197, 0.5);
}

.listOfAllProducts .listTable table tr.header th {
    padding: 8px;
    font-size: 18px;
}

.listOfAllProducts .listTable table tr.body {
    background-color: #ebebeb;
}

.listOfAllProducts .listTable table tr.body td {
    text-align: center; 
    font-weight: 600; 
    padding: 8px;
    border: 1px solid rgba(28, 13, 197, 0.5);
}

.listOfAllProducts .listTable table tr.body form { /* contenedor del boton */
    display: inline-block;
}

.listOfAllProducts .listTable table tr.body form button {
    background: none;
    border: none;
}


.listOfAllProducts .listTable table tr.body td i {
    cursor: pointer;
    margin: 0 5px;
    color: rgba(28, 13, 197, 0.5);
}


@media (max-width: 550px) {
    
   /*  main.listOfAllProducts {
        width: 100%;  
    } */

    .listOfAllProducts .listTable table {
        width: 90%; /* -----------??----------- */
        margin: 1rem auto; 
    }

    .listOfAllProducts .listTable table tr.header {
        display: none; 
    }

    .listOfAllProducts .listTable table,
    .listOfAllProducts .listTable table .body,
    .listOfAllProducts .listTable table tr,
    .listOfAllProducts .listTable table td {
        display: block;
        width: 100%;
    }      
    
    .listOfAllProducts .listTable table tr.body td {
        text-align: right;
        padding-right: 10px; /* 15px */
        position: relative;
        width: 280px; 
    }

    .listOfAllProducts .listTable table tr.body td::before {
        /* Antes del td quiero que tengan el contenido del atributo data-header*/
        content: attr(data-header);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }
}