/*main-login*/

.main-login {
    /*fondo abstracto aqui*/
    font-family: var(--font-quicksand);
    font-size: 20px;
    height: 400px;
}

.formulario {
    border-radius: 12px;
    background-color: lightgray;
    /*background-color: var(--ligth_violet);*/
    height: 350px; 
    margin: 40px auto;
}

.main-login .titulo {
    font-size: 25px;
   /* margin-top: 20px;
    margin-bottom: 30px;*/
    text-align: center;
}

.main-login .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /*ancho del contenedor*/
    
}

.formulario .check {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.formulario span a {
    color: blue;
    font-size: 12px;
    text-decoration: none;
    
}

.formulario .error-msj {
    display: none;
}

.formulario .input-datos {
    margin: 10px 0;
}

.formulario .input-datos .input-estilo {
    border-radius: 8px;
    font-size: 20px;
    border: none;
}

.formulario .button {
    margin: 5px 5px;
}

.formulario .button button {
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--ligth_violet);
    color: rgb(44, 44, 44);
    cursor: pointer; /*manito*/
    font-weight: bold; /*grosor*/
   
    
}

/*Efecto hover solo en desktop(media queries)*/
@media (min-width: 1200px) {
    .formulario .button button {
        background:  linear-gradient(200deg, rgba(255,255,255,1) 0%, var(--ligth_violet) 60%);
        transition: all 0.3s;
    }
}
/*buttom tendra transition-segundos para cambiar el color que le asignamos*/