main.myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.myProfile .headerMyProfile {
    width: 100%;
    height: 30px;  
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #636FA4
}

.myProfile .headerMyProfile .titleProfile {
    font-size: 18px;
    color: white;
}

.myProfile .headerMyProfile i.cartProfile { 
    font-size: 19px;
    margin-top: 5px;
    color: white;
}

/* form */ 
form.form-profile {
    font-family: var(--font-quicksand);
    border-radius: 14px;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /*ancho del contenedor*/
    height: 700px; 
    background: #000428; 
    background: -webkit-linear-gradient(to bottom, #636FA4, #000428);  
    background: linear-gradient(to bottom, #636FA4, #000428);  
}

.myProfile .form-profile .encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myProfile .form-profile .avatar {
    position: absolute;
    background: white;
    width: 140px;
    height: 140px;
    top: 35px;
    display: flex;
    flex-direction: column; 
    border-radius: 50%; 
}

.myProfile .avatar .img-avatar {
    border-radius: 50%;  
    width: 140px;
    height: 140px;
}

.myProfile .form-profile .encabezado .user {
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 10px;
    color: white;
}

/* buttom-pencil */
.myProfile .form-profile .encabezado .fileButtom {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #3f4c6b;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex; 
    cursor: pointer;
    margin-top: 30px;
}

.myProfile .form-profile .encabezado .fileButtom input {
    position: absolute;
    width: 30px;  
    height: 30px; 
    opacity: 0;
}  

.myProfile .form-profile .encabezado .fileButtom i {
    color: #3f4c6b;
    font-size: 18px;
    margin: auto;
    margin-left: 4px; 
} 

.fileButtom, i {
    margin-top: 119px; 
    margin-left: 98px; 
}

/* next div with data */
.form-profile .container-data {
    width: 90%; 
}

.form-profile .profileContainer .data {
    margin-left: 5px;
    color: white;
}

.form-profile .profileContainer input {
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
} 

.profileContainer input:focus {
    outline: none;
}  

.container-data .profileContainer .input-style {
    border-radius: 8px;
    width: 100%;
    height: 25px; 
    border: none;
    padding: 0 6px; 
    font-size: 16px; 
}

/* select province and locality */
.label-select {
    margin-left: 5px;
    color: white;
}

#select-provincias, #select-localidades {
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    height: 25px;
    margin-top: 6px;
}

/* span errors - validations backend */
.errors-msj {   
    font-size: 12px;
    color: rgb(255, 51, 51);
}

/* input validations front end */
span.error { 
    color: red; 
    font-size: 12px;
    margin-left: 15px;
}

span.ok {
    color: rgb(163, 248, 163);
    font-size: 12px;
    margin-left: 15px;
}

.errors { 
    color: tomato;
    font-size: 12px;
}

/* buttom ---------------------------------------------------------------------------------*/
.button button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin: 4px 0px;
    text-align: center;/* ---- */
    margin-top: 22px; /* ---- */
}
   
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms
    cubic-bezier(.3, .7, .4, 1);
}
   
.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
}
   
.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms
    cubic-bezier(.3, .7, .4, 1);
}
   
button:hover {
    filter: brightness(110%);
}
   
button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
   
button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}
   
button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
   
button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
   
button:focus:not(:focus-visible) {
    outline: none;
}
/* end buttom -----------------------------------------------------------------------------*/

/* footer */
.footerMyProfile {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background: #000428;  
    /* background: -webkit-linear-gradient(to left, #3f4c6b, #606c88);  
    background: linear-gradient(to left, #3f4c6b, #606c88);   */
}

.footerMyProfile .message {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: white;
}


/* Media queries-tablet */

@media (min-width: 768px) {

    form.form-profile {
        width: 70%; /*ancho del contenedor gris*/
    }

    .myProfile .headerMyProfile {
        height: 50px;
        padding: 10px 15px;
    }

    .myProfile .headerMyProfile .titleProfile {
        font-size: 20px;
    }

    .myProfile .form-profile .avatar {
        top: 60px;
    }

} 


/* Media queries-desktop */

@media(min-width: 1024px) {

    form.form-profile {
        width: 60%; /*ancho del contenedor gris*/
    }

    .myProfile .headerMyProfile { 
        padding: 10px 25px;
    }

    .footerMyProfile .message {
        font-size: 20px;
    }

}
