.body-profile {
    width: 100%;
}

.body-profile img {
    object-fit: cover; 
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
}

.form-profile {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.form-profile .avatar {
    border-radius: 50%;
    border: solid 1px black;
    background-color: white;
    width: 105px;
    height: 105px;
    position: absolute;
    margin-top: 35px; 
    z-index: 100;

}

/* .form-profile .file-box {
   
} */

.file-box label {
    border: solid 1px black;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    background-color: white;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.file-box input {
    opacity: 0;
    margin-left: 20px;
    font-size: 20px;
}

.form-profile .titleProfile {
    font-size: 18px;
    text-align: center;
}

.form-profile .data {
    margin-top: 10px;
}

.form-profile .profileContainer {
    margin: 5px 0;
    
}

.form-profile .profileContainer input {
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.profileContainer input:focus {
    outline: none;
}

/* .body-profile .main-profile img {
    height: 300px;
    position: relative;
}

.profileBackground .avatar {
    border: solid 1px black;
    width: 150px;
    height: 150px;
    position: relative;
} */

