.bodyCart {
    width: 100%;
}

main.cart {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart .title-cart { 
    margin: 8px 0 1px 15px;
}

.cart .title-cart .h2title {
    font-size: 18px;
}

.cart .title-cart .titleP {
    font-size: 16px;
}

.cart .div-products img {
    max-width: 115px;
    max-height: 115px;
    margin-right: 8px;
}

.div-products .product-1, 
.product-2, 
.product-3, 
.product-4 {
    display: flex;
    margin: 18px 18px 0 18px; 
    padding: 5px;
}

.product-container i {
    font-size: 18px;
    cursor: pointer;
}

/* contador */

.counter {
    display: flex;
    padding: 4px 14px;/* 4px 20px */
    justify-content: space-between;
    align-items: center; 
    width: 4rem; /* 7rem */
    border: 1px solid black;
    border-radius: 15px;
    max-height: 35px;
    height: 25px;
   background-color: rgb(91, 77, 185); /* greta */
}

.counter button {
    border: none;
    font-size: 18px; /* 1.5rem */
    font-weight: bold;
    /* background-color: white; */
    background-color: rgb(91, 77, 185); /* greta */
}

.cart .total-and-buttom {
    text-align: center;
    margin: 18px 0;
}

.btn-subtract { /* ggg */
    background-color: rgb(91, 77, 185); /* greta */
}

.cart .total-and-buttom .p-totales {
    font-size: 18px;
}

.cart .total-and-buttom button {
    margin: 9px 0;
    cursor: pointer;
    padding: 9px;
    border: none;
    font-weight: bold; 
    border-radius: 25px;
    color: rgb(44, 44, 44);
    background:  linear-gradient(200deg, rgba(255,255,255,1) 0%, var(--ligth_violet) 60%); 
}


/* Media-query - Tablet */
@media (min-width: 768px) {

    .cart .title-cart .h2title {
        font-size: 20px;
    }
    
    .cart .title-cart .titleP {
        font-size: 18px;
    }

    .cart .div-products img {
        max-width: 150px;
        max-height: 150px;
        margin-right: 10px;
    }

    .div-products .product-container {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: space-between;
    }

    .div-products .product-container .icon-cart i{
        margin: 0 4px;
    }

    .cart .div-products p {
        font-size: 16px;
    }

    .cart .div-products i {
        font-size: x-large;
    }

    
    .cart .total-and-buttom {
        margin: 25px 0;
    }

    .cart .total-and-buttom button {
        margin: 12px 0;
        padding: 5px;
        width: 182px;
        height: 42px;
        font-size: 18px;
    }
}



/* Media-query - Desktop */
@media (min-width: 1200px) {
    
    main.cart {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 18px 0;
        justify-content: space-evenly; 
    }

    .cart .title-cart {
        font-size: 30px;
        min-width: 200px; 
        margin: 0 18px;
        padding-top: 15px; 
    }

    .div-products {
        max-width: 70%; 
        padding: 0 35px;
    }

    .div-products .product-container p {
        width: 350px; 
    }

    .cart .total-and-buttom {
        flex-direction: row;
        display: inline-block;
        max-width: 30%; 
        margin: 0 40px;
        margin-top: 20px;
        /* transition? */
    }

    .cart .total-and-buttom button:hover {
        color: rgb(78, 78, 78); 
        background: linear-gradient(100deg, rgba(255,255,255,1) 0%, var(--ligth_violet) 60%);
        transition: all 0.4ms ease-in-out;
        
    }

    .cart .div-products img {
        max-width: 180px;
        max-height: 180px;
        margin-right: 10px; 
    } 

    .div-products hr {
        display: none;
    }

    .counter {
        margin: 9px 0;
        cursor: pointer;
        padding: 9px;
        border: none;
        font-weight: bold; 
        border-radius: 25px;
        color: rgb(44, 44, 44);
        background-color: rgb(91, 77, 185); /* greta */
        width: 90px;
        height: 40px;
        font-size: 20px;

    }


}