<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <section class="section-404"> 
        <div class="img-404">
            <img src="/img/404page/game over.png" alt="">
        </div>
    
        <div class="container-404">
         
            <div class="header-404"></div>
            <div class="center-404">
                <img src="/img/404page/ERROR404.png" alt="">
                <h2> Pagina no encontrada</h2>
                <a href="/"><button>Ir al Home!</button></a>
            </div>
            
            <div class="footer-404"></div>
    
    
        </div>
    </section>
        

</body>
</html>