<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <main class="sobreNosotros">

            <h1 class="titleNosotros">Sobre Mundo Gamer</h1><br>
            <p class="parrNosotros">
                Tenemos la misión de ayudar a todos a descubrir la alegría de los videojuegos.
                El futuro de los videojuegos va más allá del entretenimiento, ¡y es un privilegio ayudar a darle forma! 
                Estamos construyendo un marketplace seguro, asequible y sostenible para todos los jugadores de hoy y mañana.
            </p><br>
            <p class="parrNosotros">
                Aquí en Mundo Gamer somos un equipo de profesionales de ideas afines que comparten la misma pasión por los juegos.
                Nos esforzamos por la profesionalidad y la excelencia a diario. Al hacerlo, proporcionamos el acceso y los medios más fáciles 
                a los videojuegos y servicios para las comunidades de juegos de todo el mundo.
                Nuestra misión es ofrecer una excelente selección de juegos a cada jugador interesado, de la manera más segura, confiable y accesible posible.
            </p><br>
            <p class="parrNosotros">
                Mundo Gamer nació en 2020, hoy en día, nuestro marketplace soporta más de 3m de usuarios activos (¡y sigue creciendo rápidamente!), 
                proporciona un nivel de confianza, seguridad y accesibilidad al mercado sin igual. 
                ¡Estamos orgullosos de lo que hemos logrado en tan poco tiempo y estamos deseando compartir este viaje contigo!
            </p>

        </main>

        <%- include('./partials/footer.ejs') %>

        <%- include('./partials/script.ejs') %> 

    </body>

</html>