<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <main class="offices">

            <h1 class="title-offices">Visita nuestras sucursales! Te esperamos en:</h1>

            <div class="location">

                <div class="direction">
                    <i class="fas fa-map-marker-alt icon-map"></i><h2 class="address">Boulevard 9 de Julio 98 esquina Yrigoyen - Neuquén Capital
                        Horario: Lunes y viernes de 09 a 18hs y Sábado 10:00 a 13:00 Hs</h2>
                </div>
                
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.8609597709565!2d-68.06278674975349!3d-38.95000467946227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a33cfee6724bf%3A0x70b0f66c95c7c641!2sDiag.%209%20de%20Julio%2098%2C%20Q8300%20Neuqu%C3%A9n!5e0!3m2!1ses-419!2sar!4v1648224165288!5m2!1ses-419!2sar" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
            </div>

            <div class="location">

                <div class="direction">
                    <i class="fas fa-map-marker-alt icon-map"></i><h2 class="address">Av Santa Fe 1860 CABA - Buenos Aires
                        Horario: Lunes y viernes de 09 a 18hs y Sábado 10:00 a 13:00 Hs</h2>
                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52557.332213820715!2d-58.450983054944295!3d-34.58308527424855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccabdfc191295%3A0x8110084c679e64c0!2sEl%20Ateneo%20Grand%20Splendid!5e0!3m2!1ses-419!2sar!4v1648224308758!5m2!1ses-419!2sar" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
            
        </main>

        <%- include('./partials/footer.ejs') %>

        <%- include('./partials/script.ejs') %>

    </body>

</html>