<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>

            <main class="terminosCondiciones">

                <h1 class="titleTerms">Términos y condiciones de uso</h1>

                <li class="terms">De acuerdo con estos Términos y Condiciones, MUNDO GAMER otorga a los Usuarios una licencia limitada, no
                    exclusiva, intransferible y no sublicenciable para acceder y hacer uso personal y no comercial de
                    los Servicios prestados por MUNDO GAMER. Dicha licencia se limita estrictamente a las funcionalidades de
                    la Plataforma y no se extiende a ninguna licencia de Contenido Digital (incluidos los códigos de
                    activación de juegos ofrecidos por los Proveedores a través de la Plataforma). Para evitar dudas,
                    las licencias de Contenido Digital solo pueden otorgarse a discreción de sus propietarios u otras
                    personas autorizadas.</li><br>
                <li class="terms">Los Usuarios están obligados a no abusar de los Servicios de MUNDO GAMER y solo usarlos de forma prevista
                    por la ley y estos Términos y Condiciones. El uso inapropiado de los Servicios podría causar efectos
                    negativos a MUNDO GAMER o a terceros, y si los Usuarios violan los términos de uso de los Servicios, son
                    responsables de eliminar todos los daños causados.</li><br>
                <li class="terms">Todos los derechos no otorgados expresamente a los Usuarios en estos Términos y Condiciones están
                    reservados y retenidos por MUNDO GAMER o sus propietarios, licenciantes, proveedores, editores u otras
                    personas autorizadas.</li><br>
                <li class="terms">Cualquier objeto de propiedad intelectual como texto, materiales gráficos, funciones interactivas,
                    logotipos, fotografías, archivos, software en la Plataforma, excepto los cargados, transmitidos,
                    puestos a disposición, publicados por Usuarios y Proveedores, así como la selección, la
                    organización, coordinación, compilación de los materiales y el esquema general y naturaleza de la
                    Plataforma constituyen propiedad intelectual de MUNDO GAMER. Están protegidos por derechos de autor,
                    marcas comerciales, patentes, derechos de diseño industrial y cualquier otro derecho y disposición,
                    incluidos los convenios internacionales y los derechos de propiedad. Cualquiera de estos derechos
                    está reservado para MUNDO GAMER. Todas las marcas comerciales, marcas y nombres comerciales constituyen
                    propiedad de MUNDO GAMER.</li><br>
                <li class="terms">A menos que cuente con el consentimiento expreso por escrito de MUNDO GAMER, los Usuarios ni los
                    Proveedores no están autorizados a: duplicar, copiar, descargar, difundir, vender, distribuir o
                    revender cualquier servicio, información, textos, gráficos, videoclips, sonidos, guiones, archivos,
                    bases de datos o listados y todo lo que esté disponible en o a través de la Plataforma ni a
                    utilizarlos de otra manera. Está prohibido recuperar el contenido de la Plataforma de forma
                    sistemática para crear o compilar, ya sea directa o indirectamente, una colección, compilación, base
                    de datos y catálogo (mediante el uso de robots, buscadores, dispositivos automáticos o manuales) sin
                    el permiso expreso por escrito de MUNDO GAMER. Se prohíbe el uso de cualquier contenido o material
                    disponible en la Plataforma para fines no especificados en los Términos y Condiciones, especialmente
                    cualquier uso, publicación, copia en cualquier forma, ya sea electrónica, mecánica, fotográfica u
                    otra (Todos los derechos reservados).</li><br>
                <li class="terms">Los Usuarios están obligados a leer y aceptar los Términos y Condiciones y el Aviso de Privacidad,
                    así como cualquier otra documentación de la Plataforma, a fin de asegurar la protección de sus datos
                    personales cargados a través de la Plataforma. Al usar el Sitio, cada Usuario consiente en cumplir
                    con los Términos y Condiciones relacionados con la protección de la privacidad y la protección de
                    datos personales definidos en el Aviso de Privacidad.</li><br>
                <li class="terms">MUNDO GAMER puede facilitar a los Usuarios los hipervínculos en la Plataforma (es decir, banners, canales)
                    con acceso al contenido, productos o servicios ofrecidos por otros Proveedores que los dirigen a los
                    sitios web de dichos Proveedores. MUNDO GAMER no es responsable de la certeza, exactitud o confiabilidad
                    de la información enviada por los Proveedores mencionados. MUNDO GAMER recomienda leer todos los
                    documentos en los Sitios de dichos Proveedores. Los Usuarios reconocen que MUNDO GAMER no tiene control
                    sobre las acciones de estos Proveedores.</li>

            </main>

            <%- include('./partials/footer.ejs') %>

            <%- include('./partials/script.ejs') %>

    </body>

</html>