<footer class="main-footer">

    <nav class="enlaces-footer">
        <ul>
            <li><a href="/about">Sobre nosotros</a></li>
            <li><a href="https://whatsapp.com" target="_blanck">Contáctanos</a></li>
            <li><a href="#">Horarios de atención</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Términos y condiciones</a></li>
        </ul>
    </nav>

    <div class="socialw fadeInDown">  
  
        <!-- Dribbble !-->
        <a href="http://dribbble.com" target="_blank">   
          <div class="social first"> <img src="https://i.imgur.com/64r2jAv.png"/></div>
        </a>
        <!-- Dribbble !-->
      
        <!-- Behance !-->
        <a href="http://behance.com" target="_blank">    
          <div class="social"> <img src="https://i.imgur.com/fkuhUov.png"/></div>
        </a>
        <!-- Behance !-->
      
        <!-- Facebook !-->
        <a href="https://facebook.com" target="_blank">    
          <div class="social"><img src="https://i.imgur.com/PY2EPRW.png"/></div>
        </a>
        <!-- Facebook !-->
      
        <!-- Twitter !-->
        <a href="https://twitter.com" target="_blank">   
          <div class="social"> <img src="https://i.imgur.com/ny0pyqt.png"/> </div>
        </a>
        <!-- Twitter !-->
      
        <!-- Intagram !-->
        <a href="http://instagram.com" target="_blank">    
          <div class="social"> <img src="https://i.imgur.com/tZZG2zQ.png"/></div>
        </a>
        <!-- Instagram !-->
      
        </div>
      
      <!-- Social Icons End !-->

    <div class="derechos"> <!-- etiqueta p se fue al centro -->
        <i class="far fa-copyright copy"></i>
        <p class="copy">Mundo Gamer - Todos los derechos reservados</p>
    </div>
</footer>