<footer class="main-footer">

    <nav class="enlaces-footer">
        <ul>
            <li><a href="/about">Sobre nosotros</a></li>
            <li><a href="https://whatsapp.com" target="_blanck">Contáctanos</a></li>
            <li><a href="#">Horarios de atención</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Términos y condiciones</a></li>
        </ul>
    </nav>

    <div class="logos-contacto">
        <a href="https://whatsapp.com" target="_blanck"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.instagram.com" target="_blanck"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blanck"><i class="fab fa-facebook"></i></a>
    </div>

    <div class="derechos"> <!-- etiqueta p se fue al centro -->
        <i class="far fa-copyright copy"></i>
        <p class="copy">Mundo Gamer - Todos los derechos reservados</p>
    </div>
</footer>