<!DOCTYPE html>
<html lang="es">

<!-- agregar etiqueta tag de head -->

<body>

    <!-- agregar etiqueta tag de headerAdmin-->

    <main class="main-admin">

        <h2 class="title">Producto a editar:</h2>

        <h3>Teclado XXX</h3>

        <div class="box-category">
            <label for="">Categoria</label>
            <select name="categoria" id="select">
                <option value="Deporte">Deporte</option>
                <option value="RPG">RPG</option>
                <option value="Acción">Acción</option>
                <option value="Aventura">Aventura</option>
                <option value="ROL">ROL</option>
                <option value="Estrategia">Estrategia</option>
                <option value="Simulación">Simulación</option>
                <option value="Supervivencia">Supervivencia</option>
            </select><br>
        </div>

        <div class="box-category">
            <label for="">Subcategoria</label>
            <select name="subcategoria" id="select">
                <option value="Futbol">Futbol</option>
                <option value="Tenis">Tenis</option>
                <option value="Ski">Ski</option>
                <option value="Carreras">Carreras</option>
            </select><br>
        </div>

        <div class="box-category">
            <label for="">Producto</label>
            <select name="producto" id="select">
                <option value="futbol">Futbol</option>
                <option value="futbol">Futbol</option>
                <option value="futbol">Futbol</option>
                <option value="futbol">Futbol</option>
            </select><br>
        </div>

        <div class="text-tarea">
            <label for="message">Descripción del producto</label><br>
            <textarea name="message" id="message" cols="35" rows="10" placeholder="Producto..."></textarea><br>
            <!-- si modificamos el cols aumentara un poco mas el ancho -->
        </div>

        <div class="input-number">
            <label for="">Precio</label>
            <input type="number" name="" id=""><br>
        </div>

        <div class="input-number">
            <label for="">Descuento</label>
            <input type="number" name="" id=""><br>
        </div>

        <div class="img">
            <label for="">Imagen actual</label><br>
            <img src="futbol.jpg" alt=""><br>
        </div>

        <div class="input-file">
            <label for="archivo">Cambiar esta imagen</label>
            <input type="file" name="avatar" accept=".jpg" id="archivo" multiple><br>
        </div>

        <div class="box-button">
            <button type="submit">Guardar cambios</button>
        </div>

    </main>

    <!-- <footer class="footer-main">
        
    </footer> -->

</body>

</html>