<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main class="cart">
                <div class="title-cart">
                    <h2>Carrito</h2>
                    <h4>4 elementos en tu carrito</h4>
                </div>
                <hr>

                <div class="product">

                    <div class="product-1">
                        <img src="/img/futbolCarrito.png" alt="">

                        <div class="product-container">
                            <p>FIFA 22 Edition Electronic Arts PS5 <br>
                                $9.900
                            </p>
                            <div class="icon-cart">
                                <i class="fas fa-minus"></i>
                                <i class="fas fa-plus"></i>
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </div>
                    </div><br>
                    <hr>
                    <div class="product-2">
                        <img src="/img/tennis.png" alt="">

                        <div class="product-container">
                            <p>Ao Tennis 2 Fisico Ps4 Soy Gamer <br>
                                $7.800
                            </p>
                            <div class="icon-cart">
                                <i class="fas fa-minus"></i>
                                <i class="fas fa-plus"></i>
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </div>
                    </div><br>
                    <hr>
                    <div class="product-3">
                        <img src="/img/aventura.png" alt="">

                        <div class="product-container">
                            <p>Lego Jurassic World Ps4 Fisico <br>
                                $4.500
                            </p>
                            <div class="icon-cart">
                                <i class="fas fa-minus"></i>
                                <i class="fas fa-plus"></i>
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </div>
                    </div><br>
                    <hr>
                    <div class="product-4">
                        <img src="/img/aventura-2.png" alt="">

                        <div class="product-container">
                            <p>Ghost Of Tsushima Ps4 Soy Gamer <br>
                                $5.000
                            </p>
                            <div class="icon-cart">
                                <i class="fas fa-minus"></i>
                                <i class="fas fa-plus"></i>
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </div>
                    </div><br>
                    <hr>

                </div>

                <div class="total-and-buttom">
                    <p>Subtotal $20.298</p><br>
                    <p>TOTAL $20.298</p><br>
                    <button type="submit">Realizar pedido</button> <br>
                    <button type="submit">Seguir comprando</button>
                </div>

            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>